<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<module name="Checker">

    <module name="MethodLimit"/>

    <module name="JavadocPackage"/>
       <module name="TreeWalker">
           <module name="AvoidStarImport"/>
           <module name="ConstantName"/>
           <module name="EmptyBlock"/>
       </module>

    <module name="TreeWalker">
        <module name="CyclomaticComplexity">
            <property name="max" value="7"/>
        </module>
    </module>

    <module name="MethodLength">
        <property name="max" value="60"/>
    </module>

    <module name="TreeWalker">
        <module name="MemberName">
            <property name="format" value="^[a-z][a-zA-Z]+$"/>
        </module>
    </module>

    <module name="TreeWalker">
        <module name="MemberName">
            <property name="format" value="_[a-z]"/>
        </module>
    </module>

    <module name="JavadocMethod">
        <property name="scope" value="public"/>
        <property name="allowMissingParamTags" value="false"/>
        <property name="allowMissingThrowsTags" value="false"/>
        <property name="allowMissingReturnTag" value="false"/>
        <property name="minLineCount" value="1"/>
    </module>

    <module name="NamingConvention">
        <property name="format" value="^[a-z]+[a-zA-Z0-9]*$"/>
        <property name="allowUnderscore" value="false"/>
        <property name="ignoreAnnotations" value="true"/>
        <property name="visibility" value="public-private-protected"/>
        <property name="target" value="VARIABLE"/>
    </module>

    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="HiddenField"/>
    <module name="IllegalInstantiation"/>
    <module name="MissingSwitchDefault"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>

    <module name="DesignForExtension"/>
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InterfaceIsType"/>
    <module name="VisibilityModifier"/>
    <module name="TodoComment"/>

</module>



